@import url('https://fonts.googleapis.com/css2?family=Baskervville+SC&display=swap');
body{
    background-color: black;
    color: white;
    border: 5px solid transparent;
            border-image: linear-gradient(45deg, #fcfcfc, #6a1b9a);
            border-image-slice: 1;
            padding: 20px;
            margin: 20px
}
}
h1{
    text-align: center;
    baskervville-sc-regular
        font-family: "Baskervville SC", serif;
        font-weight: 400;
        font-style: normal;

}
h2{
    text-align: 40px;
}
.container {
    display: flex;
    align-items: center; /* Alinha verticalmente o texto e a imagem */
    gap: 10px; /* Espaço entre a imagem e o texto */
}
.container img {
    width: 100px; /* Ajuste o tamanho da imagem conforme necessário */
    height: auto;
}
